server:
  port: 8765

zuul:
  routes:
    admin-server:
      sensitiveHeaders: "*"
      path: /admin/**
      service-id: msk-boot-admin
      stripPrefix: false
    msk-auth:
      sensitiveHeaders: "*"
      path: /auth/**
      service-id: msk-auth
      stripPrefix: false
    msk-consumer:
      sensitiveHeaders: "*"
      path: /consumer/**
      service-id: msk-consumer
      stripPrefix: false
    msk-provider:
      sensitiveHeaders: "*"
      path: /provider/**
      service-id: msk-provider
      stripPrefix: false
    msk-vip:
      sensitiveHeaders: "*"
      path: /vip/**
      service-id: msk-vip
      stripPrefix: false
  retryable: false
  ignored-services: "*"
  ribbon:
    eager-load:
      enabled: true
  host:
    connect-timeout-millis: 3000
    socket-timeout-millis: 3000
  add-proxy-headers: true

management:
  endpoint:
    health:
      enabled: true
      show-details: always
  endpoints:
    web:
      base-path: /actuator
      cors:
        allowed-origins: true
      exposure:
        include:
          - '*'
spring:
  zipkin:
    base-url: http://localhost:9411

logging:
  level:
    com.delta.roma.gateway: INFO
    com.netflix.loadbalancer: DEBUG

#---------------------OAuth2---------------------
security:
  oauth2:
    client:
      access-token-uri: http://localhost:${server.port}/auth/oauth/token
      user-authorization-uri: http://localhost:${server.port}/auth/oauth/authorize
      client-id: web
    resource:
      user-info-uri:  http://localhost:${server.port}/auth/api/member
      prefer-token-info: false
#----------------------超时配置-------------------
ribbon:
  ReadTimeout: 3000
  ConnectTimeout: 3000
  MaxAutoRetries: 1
  MaxAutoRetriesNextServer: 2
  eureka:
    enabled: true
hystrix:
  command:
    default:
      execution:
        timeout:
          enabled: true
        isolation:
          thread:
            timeoutInMilliseconds: 3500
